#ea-calc-inpage {
  background-color: #e7dfec;
  border-radius: 6px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 19%;
  flex: 1 0 19%;
  margin: 20px 0px 30px;
  max-width: 370px;
  padding: 10px 20px 20px;
  -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 25%);
  position: relative;
  text-decoration: none;
  float: left;
  font-family: Tahoma, sans-serif;
}

#ea-calc-inpage input#propertyVal {
  width: 100%;
  margin: 20px 0px 30px;
}

#ea-calc-inpage input#propertyVal:focus {
  box-shadow: 0 0 0 0px #ff53b9;
}

#ea-calc-inpage hr {
  width: 100%;
  margin: 0.4rem 0rem 0.3rem;
  float: left;
}

#ea-calc-inpage label {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#ea-calc-inpage label.big-label {
  font-size: 1.3rem;
  color: #4f145b;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 4px;
}

#ea-calc-inpage label.big-label #estPrice {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

#ea-calc-inpage h1 {
  margin: 2px 0px 10px;
  font-size: 1.8rem;
  line-height: 2rem;
}

#ea-calc-inpage h2 {
  font-size: 0.75rem;
  color: #4f145b;
  line-height: 1.1rem;
  font-weight: 500;
  margin: 0px 0px 10px;
  width: 100%;
  float: left;
}

#ea-calc-inpage h3 {
  font-size: 1rem;
  color: #4f145b;
  line-height: 1.2rem;
  font-weight: 600;
  margin: 15px 0px 10px;
  width: 100%;
  float: left;
}

#ea-calc-inpage h2.pinkResult {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6rem;
  font-weight: 500;
  width: 100%;
  border-radius: 6px;
  background-color: #d80080;
  margin: 0px 0px 10px;
  float: left;
  text-align: center;
}

#ea-calc-inpage h2.pinkResult a {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  float: left;
  background-color: #4f145b;
}

#ea-calc-inpage h2 span.resultz {
  font-size: 1.4rem;
  color: #4f145b;
  line-height: 1.5rem;
  font-weight: 600;
}

#ea-calc-inpage h2.pinkResult span.resultz {
  color: #fff;
  font-size: 2rem;
  line-height: 1.9rem;
  width: 50%;
  text-align: left;
  float: right;
  padding-left: 6px;
}

#ea-calc-inpage h2.pinkResult span.finale {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 100%;
  float: left;
}

#ea-calc-inpage h2.pinkResult span.intro {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 48%;
  text-align: right;
  float: left;
  padding-right: 6px;
  padding-top: 7px;
}

#ea-calc-inpage .fity {
  width: 48%;
  float: left;
  padding-right: 30px;
}

#ea-calc-inpage .fity label {
  width: 70%;
}

#ea-calc-inpage input#eaPerc,
#ea-calc-inpage input#oeaFlat {
  width: 80px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid black;
  float: right;
}

input[type="range"] {
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #19899d;
  border: 0.2px solid #010101;
  border-radius: 5px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 36px;
  height: 36px;
  background-color: #d80080;
  background-image: url("/images/slide-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #19899d;
}
input[type="range"]::-moz-range-track {
  background: #19899d;
  border: 0.2px solid #010101;
  border-radius: 5px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 36px;
  height: 36px;
  background-color: #d80080;
  background-image: url("/images/slide-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 16.4px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #19899d;
  border: 0.2px solid #010101;
  border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
  background: #19899d;
  border: 0.2px solid #010101;
  border-radius: 5px;
}
input[type="range"]::-ms-thumb {
  width: 36px;
  height: 36px;
  background-color: #d80080;
  background-image: url("/images/slide-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px;
  -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
input[type="range"]:focus::-ms-fill-lower {
  background: #19899d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #19899d;
}

/* @media (max-width: 620px) { */
  #ea-calc-inpage label.big-label #estPrice {
    width: 100%;
    float: left;
  }

  #ea-calc-inpage .fity {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  #ea-calc-inpage .fity label {
    width: 65%;
    float: left;
  }

  #ea-calc-inpage .fity input#eaPerc,
  #ea-calc-inpage .fity input#oeaFlat {
    float: right;
    margin-right: 10px;
  }

  #ea-calc-inpage h2.pinkResult span.resultz {
    color: #fff;
    font-size: 2rem;
    line-height: 1.9rem;
    width: 100%;
    text-align: center;
    float: right;
    padding-left: 0px;
    padding-bottom: 10px;
  }

  #ea-calc-inpage h2.pinkResult span.finale {
    color: #fff;
    font-size: 0.85rem;
    line-height: 1.2rem;
    width: 100%;
    float: left;
    padding-bottom: 8px;
  }

  #ea-calc-inpage h2.pinkResult span.intro {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 100%;
    text-align: center;
    float: left;
    padding-top: 8px;
    padding-bottom: 6px;
  }
/* } */